.services-page {
  background-color: #212423;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  align-items: center;
  position: fixed;
}

.business-list{
  background-color: white;
  height: 80%;
  overflow-y: scroll;
  position: relative;
}

.item{
  padding-top: 30px;
}
