.business {
  position: relative;
  top: 45%;
}

.links {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 100%;
}

.distance {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff4949;
  font-size: 16pt;
}

.rating {
  position: absolute;
  bottom: 5px;
  right: 0;
}
