.header {
  background-color: black;
  height: 30vh;
  width: 100vw;
  color: white;
}

.nav {
  height: 40%;
  width: 100%;
  background-color: white;
}

.navItem {
  margin: 8px 0 8px 0;
}

#leftBorder {
  border-left: 2px solid black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.header .input-group input {
  background-color: black;
  color: #ff4949;
  margin-top: 10px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}

.header .input-group input::placeholder {
  color: #ff4949;
}

.header .input-group input {
  color: #ff4949;
}

.header .input-group input:focus {
  border-color: white;
  box-shadow: none;
  color: #ff4949;
}

.navBottom {
  margin-top: 25px;
}

.navBottom .location {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.navBottom .sortDropdown {
  text-align: right;
  padding-right: 0;
  margin-right: 0;
}

.navBottom i {
  color: #ff4949;
}

.navBottom .form-select {
  background-color: black;
  color: white;
  border-radius: 100px;
  width: auto;
}

.navBottom .form-select option {
  margin: 5px;
}
