.main {
    background-color: #212423;
    color: transparent;
    text-shadow: 0 0 0 white;
    min-height: 100%;
    min-height: 100vh;
}

.page-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}



.button{
    background-color: #FF4949;
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    margin: auto;
    cursor: pointer;
    margin-top: 30px;
}



.checkbox{
    color: #FFFFFF;
    font-size: 22px;
    justify-content: center;
    text-align: center;
}

.inputText{
    color:white;
    display: ruby;  
    font-size: 22px;
    padding: 15px;
}

.inputText input{
    background-color: #212423;
    color: white;
    width: 70vw;
    border-color: white;
  }