/* .business-signUp-page {
	background-color: #212423;
	height: 100%;
	color: transparent;
	text-shadow: 0 0 0 white;
}

.business-signUp-page .container {
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
} */