.signUp-page {
  background-color: #212423;
  color: transparent;
  text-shadow: 0 0 0 white;
  min-height: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.button {
  background-color: #ff4949;
  border: none;
  color: white;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: auto;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 12px;
  transition-duration: 0.4s;
  outline: none;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid#FF4949;
}
.button1:hover {
  background-color: white;
  color: black;
}

/* Customize the label (the container) */
.labelContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputText {
  color: white;
  display: flex;
  font-size: 22px;
  padding: 15px;
}

@media (min-width: 768px) {
  /*	.container{
		justify-content: center;
		align-items: center;
		font-size: xx-large;
	}*/

  .signUp-page .container div {
    margin-top: 50px;
  }
  .signUp-page .inputText div {
    margin-top: 100px;
  }
  .labelContainer {
    font-size: xx-large;
    padding-left: 50px;
  }
}
/*.gg-arrow-right-r {
	box-sizing: border-box ;
	position: absolute;
	display: block;
	top: 2;
  right: 0;
	width: 25px;
	height: 25px;
	border: 4px solid ;
	transform: scale(var(--ggs,1));
	border-radius: 4px
 }
 
 .gg-arrow-right-r::after,
 .gg-arrow-right-r::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: 4px
 }
 
 .gg-arrow-right-r::after {
	width: 6px;
	height: 6px;
	border-top: 2px solid red;
	border-right: 2px solid red;
	transform: rotate(45deg);
	bottom: 6px
 }
 
 .gg-arrow-right-r::before {
	width: 20px;
	height: 2px;
	bottom: 8px;
	background: red
 } */
