.header {
    background-color: black;
    height: 8vh;
    width: 100vw;
    color: white;
    padding: 1% 2%;
}

.icons {
    height: 33%;
    padding: none;
}

.nav {
    height: 33%;
    width: 100%;
    padding: none;
}

.forum {
    width: 50%;
    text-align: right;
    padding-right: 5%;
}

.book {
    width: 50%;
    text-align: left;
    padding-left: 5%;
}
