.header {
  background-color: black;
  height: 8vh;
  width: 100vw;
  color: white;
  padding: 1% 2%;
}

.icons {
  height: 20%;
  padding: none;
}

.left-icon {
  float: left;
}

.right-icon {
  float: right;
}

.nav {
  height: 40%;
  width: 100%;
  padding: none;
}

.search {
  height: 40%;
}
