.business-info-page {
    background-color: #212423;
    height: 100%;
    color: white;
    text-align: center;
    align-items: center;
}

.business-overview {
    padding: 1rem;
}

.carousel-container {
    width: 700px;
    margin: auto;
}

/* .image-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.business-name {
    margin-top: 0;
}

.image-here {
    height: 300px;
    width: 100px;
}


@media (max-width: 500px) {
    .carousel-item > img {
        width: 100%;
    }
}

.barbertable table{
    width: 100%;
}

.barbertable button{
    width: 95%;
}

.barbertable thead{
    text-align: left;
}

.barbertable thead, tr {
    border-bottom: 1px solid white;
}

.barbertable img{
    padding-top: 10px;
}
.barbertable td{
    width: 50%;
}
.barbertable #left {
    border-right: 1px solid white;
}
