.business-info-page {
    background-color: #212423;
    height: 100%;
    color: white;
    text-align: center;
    align-items: center;
}

.business-overview {
    padding: 1rem;
}

.carousel-container {
    width: 700px;
    margin: auto;
}

/* .image-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.business-name {
    margin-top: 0;
}

.image-here {
    height: 300px;
    width: 100px;
}
.barbers thead{
    border-top: 0;
}

