
.navbar {
    background-color: #2c2c2e;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.rezerve-head {
    color: #fff;
}

.menu-bars {
    position: absolute;
    margin-left: 220px;
    font-size: 2rem;
    background: none;
}

.hamburgerIcon {
    margin-left: 2rem;
    font-size: 2rem;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 500ms;
}


.nav-menu.active {
    left: 0;
    transition: 10 ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
    margin-top: 50px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.messages, .appointments, .payments, .help, .settings {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.user-heading{
    color: #00ffff;
    text-align: center;
    margin-left: 50px;
    word-wrap: normal;
}

.image-cropper {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: -20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}