.image{
    border-radius: 50%;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center ;
}

.page_layout{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-top: 10px;
}

.item_layout{
    padding: 30px;
}